.batch {
    width: 90%;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .title {
        display: flex;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        align-items: center;
        width: 100%;
        height: 40px;
        border-radius: 5px 5px 0 0;
        background: var(--light-green);
        color: var(--green);
    }
    .bottom {
        padding: 10px;
        .progress {
            margin-top: 10px;
        }
        .status {
            margin-bottom: 20px;
        }
    }
    .action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        .detail {
            background: var(--green);
        }
        .delete {
            background: var(--grey);
        }
        button {
            color: white;
            padding: 3px 10px;
            border-radius: 5px;
            border: none;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}
